.manage-loans-btn {
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 4px;
  margin: 10px;
  width: 160px;
  height: 60px;
}

.manage-loans-btn:hover {
  background-color: #2c2c2c;
  color: white;
}
