.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding-left: 5%;
  margin-top: 7%;
  z-index: 999;
}

.overlay-content {
  display: flex;
  justify-content: space-between;
  align-items: top;
  background: none;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
}

.closeButton {
  background-color: #b03052;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}

.submitButton {
  background-color: #2e7d32;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.quit-btn {
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 4px;
  margin: 10px;
  width: 160px;
  height: 60px;
}
